/** --------------------------------------------------------------
 *  Responsive design
 */
img {
    max-width: 100%;
}



@media screen and (max-width: 900px) {
    fieldset {
        width: 90%;

        select {
            width: 90%;
        }

        pre {
            overflow-x: auto;
            font-size: 0.75em;
        }
    }

    .site-logo-text {
        width: 40%;
    }
    // ---------------- Navbar ----------------
    .navbar2 {
        display: none;
    }

    .profile {
        width: 10%;
    }

    .flash-logo {
        margin-left: 3px;
    }
}



@media screen and (max-width: 750px) {
    .sidebar {
        li {
            padding: @magicNumber / 4;
        }
    }
}



@media screen and (max-width: 700px) {
    // ---------------- Flash image ----------------
    .flash-logo {
        width: 650px;
    }

    // ---------------- Footer ----------------
    .footer-column-1 {
        margin-bottom: @magicNumber * 4;
    }

    .footer-column-1,
    .footer-column-2,
    .footer-column-3 {
        border: transparent;
        list-style: none;
    }

    // ---------------- Logo text ----------------
    .site-logo-text {
        width: 90%;
    }
}



@media screen and (max-width: 560px) {
    fieldset {
        pre {
            width: 360px;
            font-size: 0.75em;
        }
    }
    // ---------------- Flash image ----------------
    .flash-logo {
        width: 560px;
        height: 70%;
    }
}

@media screen and (max-width: 500px) {
    // ---------------- Flash image ----------------
    .flash-logo {
        margin-left: 0px;
    }
}



@media screen and (max-width: 460px) {
    // ---------------- Flash image ----------------
    .flash-logo {
        width: 360px;
        height: 50%;
    }
}

@media screen and (max-width: 420px) {
    fieldset {
        pre {
            width: 280px;
        }
    }
}

@media screen and (max-width: 360px) {
    // ---------------- Flash image ----------------
    .flash-logo {
        width: 360px;
        height: 50%;
    }
}
