/** --------------------------------------------------------------
 *  Responsive design
 */
img {
    max-width: 100%;
}



@media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}



@media screen and (max-width: 750px) {
    .sidebar {
        width: 100%;
        //display: none;
        clear: both;
        li {
            padding: @magic-number / 4;
        }
    }
}



@media screen and (max-width: 700px) {
    // ---------------- Main body and sidebar ----------------
    .main,
    .main.has-sidebar {
        padding: @magic-number;
        width: 80%;
    }

    // ---------------- Flash image ----------------
    .flash-logo {
        width: 700px;
    }


    // ---------------- Footer ----------------
    .footer-column {
        width: 100%;
    }

    .footer-column-1 {
        margin-bottom: @magic-number * 4;
    }

    .footer-column-1,
    .footer-column-2,
    .footer-column-3 {
        border: none;
        display: block;
        list-style: none;
    }

    // ---------------- Navbar ----------------
    .navbar2 {
        display: none;
    }

    // ---------------- Logo text ----------------
     .site-logo-text {
         width: 90%;
     }
}



@media screen and (max-width: 560px) {
    // ---------------- Flash image ----------------
    .flash-logo {
        width: 560px;
        height: 70%;
    }
 }

 @media screen and (max-width: 360px) {
     // ---------------- Flash image ----------------
     .flash-logo {
         width: 360px;
         height: 50%;
     }
  }
